# ignore notebook checkpoints
.ipynb_checkpoints/

# ignore the pycache
__pycache__/

# ignore data folder (only store code on the repo)
data/*

# But allow data/charts/
!data/charts/
!data/charts/**

# ignore figures stored here
figs/

# ignore the notebooks in this folder
code/notebooks/other_notebooks/

# also ignore these specific notebooks for now
code/notebooks/01_data_import/xxx01_23_reset.ipynb
code/notebooks/04_normative_kernels/04_03_independent_geometric_kernels/04_03_02_simple_geometric_kernel.ipynb
code/notebooks/05_kernel_normative_models/05_01_PYMC/Untitled.ipynb
code/notebooks/06_performance_evaluation/06_xx_testing.ipynb
code/notebooks/07_growth_gradients/07_01_growth_gradients_testing.ipynb
code/notebooks/07_growth_gradients/Scratch_spatial_null.ipynb
code/notebooks/08_clinical_evaluation/Untitled.ipynb
